<div>
    <h3>Posts List</h3>
    <table class="table table-striped" *ngIf="posts | async as postsData">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @for (post of postsData; track post.id) {
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
